/*
#1A4D2E
#4F6F52
#E8DFCA
#F5EFE6

*/

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
   
  main {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
  }
  
  main section {
    flex: 1;
    padding: 1rem;
    box-sizing: border-box;
  }
  
  .main .left, .main .right {
    flex-basis: 25%;
  }
  
  .main .middle {
    flex-basis: 50%;
  }
  
  .slider-frame {
    /*position: relative;
    width: 100%;
    overflow: hidden;*/
    width: 600px;
    height: auto;
    max-height: 400px;
    margin: 50px auto 0;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  
   
  }
  
  .slider-frame ul{
    display: flex;
    padding: 0px;
    width: 400%;
    animation: slide 16s infinite ease-in-out;
  }
  
  .slider-frame li {
    list-style: none;
    width: 100%;
  }
  
  .slider-frame img {
    width: 100%;
  }/*
  .slider .slide {
    width: 100%;
    display: none;
  }
  
  .slider .slide img {
    width: 100%;
  }
  */
  @keyframes slide {
    0% {margin-left: 0%;}
    20% {margin-left: 0%;}
  
    25% {margin-left: -100%;}
    45% {margin-left: -100%;}
  
    50% {margin-left: -200%;}
    70% {margin-left: -200%;}
  
    75% {margin-left: -300%;}
    90% {margin-left: -300%;}
  }
 
  